/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input[type="text"] {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #4caf50;
  outline: none;
}

/* Button Styles */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  transform: translateY(-2px);
}

.submit-button {
  width: 100%;
  max-width: 120px;
  background-color: hsl(120, 100%, 27%);
  color: white;
}

.submit-button:hover {
  background-color: hsl(120, 100%, 24%);
}

.logout-button {
  background-color: hsl(0, 91%, 48%);
  color: white;
}

.logout-button:hover {
  background-color: hsl(0, 91%, 45%);
}

.generate-schedule-button {
  background-color: hsl(120, 100%, 27%);
  color: white;
  padding: 15px 20px;
  font-size: 15px;
}

.generate-schedule-button:hover {
  background-color: hsl(120, 100%, 24%);
}

/* Link Styles */
a {
  color: #271baf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.modal-button {
  background-color: hsl(120, 100%, 27%);
  color: white;
  margin: 10px;
}

.modal-button:hover {
  background-color: hsl(120, 100%, 24%);
}

.modal-button:first-of-type {
  background-color: hsl(0, 91%, 48%);
}

.modal-button:first-of-type:hover {
  background-color: hsl(0, 91%, 45%);
}

/* Footer Styles */
footer {
  margin-top: 50px;
  color: #666;
}

footer a {
  color: #271baf;
}

footer a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
