/* Schedule.css */
.schedule-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.schedule-title {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center; /* Center the items */
}

.input-field {
    padding: 12px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    box-sizing: border-box; /* Ensure padding doesn't increase total width */
    transition: border-color 0.3s ease;
}

.input-field:focus {
    border-color: #4caf50;
}

.date-input::placeholder {
    color: #888; /* Placeholder text color */
}

.generate-button {
    background-color: hsl(120, 100%, 27%);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.generate-button:hover {
    background-color: hsl(120, 100%, 24%);
    transform: translateY(-2px);
}

.error-message {
    color: red;
    margin-bottom: 20px;
}

.schedule-table-container {
    padding: 0 0px; /* Add padding around the table */
    margin-top: 20px; /* Add margin at the top to separate from the form */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.schedule-table th,
.schedule-table td {
    border: 1px solid #ddd;
    padding: 12px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.schedule-table th {
    background-color: hsl(120, 100%, 27%);
    color: white;
    font-weight: bold;
}

.schedule-table td {
    background-color: #ffffff;
    color: #333;
}

.schedule-table tbody tr:hover {
    background-color: #f1f1f1;
}

.loading {
    font-size: 18px;
    color: #333;
}

/* Responsive Design */
@media (max-width: 600px) {
    .schedule-container {
        padding: 10px;
    }

    .schedule-title {
        font-size: 20px;
    }

    .input-field {
        font-size: 14px;
        padding: 8px;
    }

    .generate-button {
        font-size: 14px;
        margin: 4px 2px;
        padding: 8px 16px;
    }

    .schedule-table th,
    .schedule-table td {
        font-size: 12px;
        padding: 8px;
    }

    .form-container {
        gap: 5px;
    }
}